/* Estilos para centrar el formulario */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  /* Estilos para el formulario */
  .formulario {
    width: 100%;
    max-width: 500px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para los inputs del formulario */
  .formulario input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  /* Estilo para el botón del formulario */
  .formulario button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .formulario button:hover {
    background-color: #0056b3;
  }
  
  .required {
    color: red;
}
