<div class="container text-center mt-5">
  <h1 class="mb-4">Handwritten Digit Recognizer</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    

    <!-- Tarjeta 1: Predicción -->
    <div class="col">
        <div class="card h-100 shadow-sm border-primary" role="button" [routerLink]="'/number-drawer'">
            <div class="card-body">
                <h5 class="card-title text-primary"> ✏️ Introducir Números</h5>
                <p class="card-text">
                    Dibuja tus propios números y contribuye a que el modelo aprenda mejor con datos reales.                
                </p>
        </div>
      </div>
    </div>

    <!-- Tarjeta 1: Predicción -->
    <div class="col">
        <div class="card h-100 shadow-sm border-primary" role="button">
            <div class="card-body">
                <h5 class="card-title text-primary">🔍 Predecir</h5>
                <p class="card-text">
                    Usa el modelo preentrenado con MNIST para reconocer dígitos escritos a mano.
                </p>
        </div>
      </div>
    </div>
  </div>
</div>
